---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Littlewind Labs"
	description="About Littlewind Labs"
	pubDate={new Date('April 30 2024')}
	heroImage="/blog-lwl-about.png"
>
	<p>
		Littlewind Labs is home to projects and tools that are designed with humans at the center. Created by <a href="https://www.phil.city">Phil Morris-Parent</a>, Littlewind Labs reflects their interest in applying design-thinking in order to address inequity and make life a little gentler for everyone.
	</p>

</Layout>
